@import "tailwindcss";

@theme {
  --color-customColor: #6fcc91;
  --color-customBgColor: #31A072;
  --color-customUnderlineStart: white;
  --color-customUnderlineMid: #123456;
  --color-customUnderlineEnd: orange;
}

@layer components {
  .btn1color {
    @apply px-4 py-2 rounded-md text-white font-semibold 
           bg-gradient-to-r from-blue-600 to-indigo-600 
           hover:from-indigo-600 hover:to-blue-600 
           transition duration-300 ease-in-out;
  }
  .btn2color {
    @apply px-4 py-2 rounded-md text-white font-semibold 
           bg-gradient-to-r from-blue-600 via-indigo-600 to-blue-700
           hover:from-blue-700 hover:via-indigo-600 hover:to-blue-600 
           transition duration-300 ease-in-out;
  }
}